.productList {
    display:grid;
    grid-gap:20px;
    @media(min-width:610px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media(min-width:770px) {
        grid-template-columns: repeat(3, 1fr);
    }
    @media(min-width:1199px) {
        grid-gap:45px;
    }
}